@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html * {
    font-family: 'Barlow', sans-serif;
}


/* remove default margin and padding from body */

body {
    padding: 0;
    margin: 0;
}


/* set map, body, and html to 100% of the screen size */

#map,
body,
html {
    height: 100%;
}


/* MODAL FORMATTING ----------------------------- */

.modal-dialog {
    width: 60%;
}


/*.modal-header {
    background: linear-gradient(60deg, #0F3557, #0F3557, #519EE1);
}*/

.modal-header {
    background: linear-gradient(60deg, #0F3557, #1b5e9a, #0F3557);
    background-size: 400% 400%;
    -webkit-animation: gradient-animation 15s ease infinite;
    -moz-animation: gradient-animation 15s ease infinite;
    animation: gradient-animation 15s ease infinite;
}

@-webkit-keyframes gradient-animation {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes gradient-animation {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

h4#feature-title.modal-title.text-primary {
    color: white;
    text-transform: uppercase;
    font-weight: medium;
    letter-spacing: 1.4;
    font-size: 25px;
    margin-left: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .06em;
}

.modal-body .modal-img {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.25), 0 15px 12px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: 5px solid #fff;
    margin-bottom: 20px;
    z-index: 10;
}

.modal-footer {
    background: linear-gradient(160deg, #0F3557, #0F3557, #519EE1);
}


/* MODAL CLOSE BUTTONS */

button.close {
    font-size: 35px;
    font-weight: 300;
    color: white;
    margin-right: 30px;
    opacity: 1;
}

button.btn-default {
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.0);
    color: white;
    border: 2px solid #fff;
    text-transform: uppercase;
    letter-spacing: .06em;
}

button.btn-default:hover {
    background-color: #0d365a;
    color: white;
    border: 2px solid #fff;
}

@media only screen and (max-width: 992px) {
    .modal-dialog {
        width: 70%;
    }
}

@media only screen and (max-width: 768px) {
    .modal-dialog {
        width: 80%;
    }
}


/* MISC ----------------------------- */

hr {
    height: 20px;
    background-color: #aed2f1;
    margin-bottom: 30px;
    margin-top: 0px;
}


/* LEAFLET CONTROLS ----------------------------- */

.leaflet-control-layers {
    background-color: rgba(0, 0, 0, .8);
    border: 2px solid #fff !important;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.25), 0 15px 12px rgba(0, 0, 0, 0.2);
    color: white;
    font-family: 'Barlow', sans-serif;
    font-size: 13.5px;
    font-weight: 300;
    letter-spacing: .02em;
    text-transform: uppercase;
    padding: 7px 13px 7px 13px;
    text-align: left;
    border-radius: 0 !important;
}

.leaflet-control-layers.leaflet-control-layers-expanded.leaflet-control {
    margin-right: 30px !important;
    border-radius: 0 !important;
}

.leaflet-control-zoom.leaflet-bar.leaflet-control {
    margin-left: 40px;
}


/* FONTS ----------------------------- */

h2.section {
    width: fit-content;
    color: #0d365a;
    text-transform: uppercase;
    font-weight: medium;
    font-size: 21.5px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .09em;
    margin: 0 25px 25px 0px;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, #fff, #fff, #EDF6FD);
    padding: 10px 20px 10px 25px;
}

h2.section2 {
    color: white;
    text-transform: uppercase;
    font-weight: medium;
    letter-spacing: 1.4;
    text-align: left;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: .06em;
}

h3.weather-banner {
    color: #0d365a;
    text-transform: uppercase;
    letter-spacing: 1.4;
    font-size: 19px;
    font-weight: 700;
    letter-spacing: .06em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h3.data {
    text-align: center;
    color: #0d365a;
    font-family: 'Barlow', sans-serif;
    font-size: 28px;
    font-weight: 800;
    filter: drop-shadow( 2px 8px 4px rgba(0, 0, 0, .7));
}

h3.subtitle {
    font-size: 18px;
    font-weight: 600;
}

h3.description {
    color: white;
    padding-bottom: 12px;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    padding: 20px;
    font-weight: 600;
}

h4.description {
    font-size: 14px;
}

p.subtitle {
    color: black;
    text-align: center;
    letter-spacing: 1.4;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .06em;
}

h6.card-miles {
    color: black;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 200;
    letter-spacing: 1.4;
    text-align: center;
    font-size: 13px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: .06em;
}

p.overview {
    font-size: 15px;
    line-height: 1.65em;
    padding: 0 25px 25px 25px;
    font-weight: 500;
}

.p {
    font-size: 18px;
}


/* TOP PAGE BANNER ----------------------------- */

.header {
    background: linear-gradient(60deg, #0F3557, #519EE1, #0F3557);
    vertical-align: middle;
    background-size: 400% 400%;
    -webkit-animation: gradient-animation 18s ease infinite;
    -moz-animation: gradient-animation 18s ease infinite;
    animation: gradient-animation 18s ease infinite;
    color: white;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
    font-size: 28px;
    font-weight: 600;
    letter-spacing: .12em;
    width: 100%;
    padding: 12px 30px 12px 50px;
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.main-icon {
    height: 40px;
    margin-right: 20px;
    filter: drop-shadow( 2px 6px 4px rgba(0, 0, 0, .6));
}

p.copyright {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
    font-size: 15px;
    float: right;
    display: inline;
    padding-top: 10px;
    letter-spacing: .1em;
}

.weather-button {
    margin-left: 20px;
    background-color: rgba(0, 0, 0, .8);
    color: white;
    font-size: 13px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding: 5px 8px 5px 8px;
    border: 2px solid #fff;
    display: inline;
    margin: auto;
    margin-left: 20px !important;
    vertical-align: middle;
}

.weather-button:hover {
    background-color: rgba(0, 0, 0, 0);
}

p:empty {
    display: none
}


/* SECTION DIVIDERS/BANNER ----------------------------- */

.section-header {
    position: relative;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), #0d365a, #1b5e9a, #1b5e9a, #0d365a, rgba(255, 255, 255, 0)) center/100% 15px no-repeat;
    margin-bottom: 10px;
    filter: drop-shadow( 2px 8px 4px rgba(0, 0, 0, .2));
    z-index: 10;
}

.section-header h2 {
    border: 3px solid #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
    padding: 0.3em 0.8em;
    display: inline-block;
    position: relative;
    text-align: center;
    color: white;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 600;
    letter-spacing: .1em;
    font-size: 24px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.25), 0 15px 12px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    background: radial-gradient(#0F3557, #1b5e9a);
    background-size: 400% 400%;
    -webkit-animation: gradient-animation 5s ease infinite;
    -moz-animation: gradient-animation 5s ease infinite;
    animation: gradient-animation 5s ease infinite;
}

.text-center {
    text-align: center;
}

h2.banner-text-sm {
    background: linear-gradient(150deg, #519EE1, #0F3557, #0F3557, #0F3557, #519EE1);
    text-align: center;
    color: white;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 800;
    letter-spacing: .06em;
    font-size: 24px;
    padding: 10px;
}

@media only screen and (max-width: 1100px) {
    .banner {
        display: none;
    }
}

@media only screen and (min-width: 1100px) {
    h2.banner-text-sm {
        display: none;
    }
}


/* CARDS ----------------------------- */

.card {
    width: 100%;
    position: relative;
    background: linear-gradient(#fff, #fff, #EDF6FD);
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.25), 0 5px 12px rgba(0, 0, 0, 0.2);
    border: 3px solid #fff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-bottom: 20px;
    overflow: hidden;
    z-index: 999;
}

.card-dark {
    width: 100%;
    background-color: #0d365a;
    border: 3px solid #fff;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.25), 0 15px 12px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    padding: 0px;
    overflow: hidden;
    z-index: 100;
}

.card-header {
    background-color: #0d365a;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .06em;
    padding: 5px;
    width: 100%;
    z-index: 999;
}

.card-header-dark {
    background-color: #0d365a;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
    color: white;
    border-bottom: 2px solid #fff;
    text-align: center;
    font-size: 12.5px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .06em;
    padding: 8px;
    width: 100%;
    z-index: 99;
}

.card-header-weather {
    color: black;
    text-align: center;
    letter-spacing: 1.4;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .06em;
    padding-top: 8px;
}

h5.card-title {
    color: black;
    text-align: center;
    letter-spacing: 1.4;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .06em;
}

h5.card-title-weather {
    color: black;
    text-align: center;
    letter-spacing: 1.4;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .06em;
}

h5.card-data {
    color: black;
    text-align: center;
    letter-spacing: 1.4;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .06em;
}

h5.card-data-2 {
    color: black;
    text-align: center;
    letter-spacing: 1.4;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .06em;
}

h5.card-data-lift {
    color: white;
    text-align: center;
    letter-spacing: 1.4;
    font-size: 25px;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
    text-transform: uppercase;
    letter-spacing: .06em;
}

h5.card-data-weather {
    color: black;
    text-align: center;
    letter-spacing: 1.4;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .06em;
}

.card-description {
    width: 100%;
    background: linear-gradient(12deg, #0C2B46, #0F3557, #0F3557, #0F3557, #18558B, #fff, #fff, #fff);
    color: white;
    text-align: justify;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.25), 0 15px 12px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    margin: 20px 0 20px 0;
    z-index: 10;
    border: 5px solid #fff;
}

.card-icon {
    margin-top: 10px;
    margin-bottom: 0px;
    height: 32px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-icon-lifts {
    margin-top: 10px;
    margin-bottom: 0px;
    height: 32px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow( 2px 8px 4px rgba(0, 0, 0, .7));
}


/*-------------------------------------------------------*/


/*-------------------------------------------------------*/


/*-------------------------------------------------------*/


/*-------------------------------------------------------*/


/*-------------------------------------------------------*/


/*-------------------------------------------------------*/

a {
    text-decoration: none;
}

.card-index {
    float: left;
    padding: 0 1.7rem;
    width: 100%;
    margin-bottom: 50px;
}

.card-index .wrapper {
    background-color: rgba(0, 0, 0, .5);
    min-height: 500px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
    border-radius: 9px;
    background: url('');
    border: 5px solid #fff;
}

.card-index .wrapper:hover .data {
    transform: translateY(0);
}

.card-index .data {
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(calc(100%));
    border-top: 10px solid #519EE1;
    transition: transform 0.3s;
    transition: 0.7s;
}

.card-index .data:hover {
    transition: 0.7s;
}

.card-index .data .content {
    padding: 2em;
    position: relative;
    z-index: 1;
    color: #0d365a;
}

.card-index .title {
    color: white;
}

.card-index .text {
    color: white;
}

.example-1 .content {
    background-color: rgba(13, 54, 90, .95);
    box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3);
}

.example-1 .wrapper h1.banner {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.4;
    font-size: 19px;
    text-transform: uppercase;
    letter-spacing: .1em;
    width: fit-content;
    top: 0;
    margin: auto auto;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.25), 0 5px 2px rgba(0, 0, 0, 0.2);
    padding: 13px;
    border-top: 10px solid #519EE1;
    color: white;
    background-color: rgba(13, 54, 90, 1);
    transition: 1s;
    transition-delay: 0.3s;
}

.example-1 .wrapper:hover h1.banner {
    transform: translateY(calc(-140%));
    transition: 1s;
    transition-delay: .3s;
}

.example-1 .wrapper:hover:after h1.banner {
    transform: translateY(calc(100%));
    transition: 1s;
}

.gallery-card {
    width: 100%;
    background: linear-gradient(#fff, #fff, #EDF6FD);
    background-color: #0d365a;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.4), 0 10px 6px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-bottom: 10px;
}

.gallery-card-header {
    width: 100%;
    border-bottom: 2px solid #0d365a;
    color: black;
    text-align: center;
    font-size: 1vw;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: .06em;
    padding: 8px;
}

.gallery-card-body {
    padding: 8px;
}

h5.gallery-card-data {
    color: black;
    text-align: center;
    font-size: 22px;
    font-weight: 800;
    letter-spacing: .05em;
    text-transform: uppercase;
}

.gallery-card-icon {
    height: 40px;
    width: auto;
    margin: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h4.section {
    color: #0d365a;
    font-size: 19px;
    font-weight: 800;
    background-color: white;
    padding: 8px;
    margin-bottom: 10px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.4), 0 10px 6px rgba(0, 0, 0, 0.3);
}

p.index-description {
    color: white;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 13.5px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: justify;
    padding: 0 1.7rem 0 1.7rem;
}

.fade-in {
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.progress-bar-stripes.active {
    animation: 15s linear infinite;
}

.progress-bar {
    background-color: #0d365a !important;
    background-image: linear-gradient(270deg, #0F3557, #1b5e9a) !important;
    background-size: 400% 400% !important;
    -webkit-animation: gradient-animation 3s ease infinite !important;
    -moz-animation: gradient-animation 3s ease infinite !important;
    animation: gradient-animation 3s ease infinite !important;
}

.progress {
    background-color: rgba(255, 255, 255, 0.2) !important;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.4), 0 10px 6px rgba(0, 0, 0, 0.3) !important;
    border-top: 3px solid #fff !important;
    position: relative !important;
    height: 25px !important;
    z-index: 99;
    border-radius: 0 !important;
    margin: 0 !important;
    margin-top: 15px !important;
}

.progress-bar-title {
    position: absolute;
    text-align: right;
    font-size: 13.5px;
    font-weight: 600;
    line-height: 20px;
    /* line-height should be equal to bar height */
    overflow: hidden;
    color: #0d365a;
    right: 0;
    left: 0;
    padding-right: 4px;
    letter-spacing: .05em;
}

.leaflet-touch .leaflet-bar a {
    font: bold 18px 'Lucida Console', Monaco, monospace;
    background-color: rgba(0, 0, 0, .8);
    color: white;
    text-indent: 1px;
    border: 1.5px solid #fff;
    border-radius: 0 !important;
    text-decoration: none !important;
}

.leaflet-control-zoom-out {
    font-size: 20px;
}

.mask-fade {
    -webkit-mask-image: linear-gradient(1deg, transparent 4%, white 30%);
    mask-image: linear-gradient(1deg transparent 4%, white 30%);
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
}