@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html *{font-family:'Barlow', sans-serif;}

/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
}

/* set map, body, and html to 100% of the screen size */
#map,body,html {
  height: 100%;
}

/* MODAL FORMATTING ----------------------------- */

.modal-dialog{
  width:60%;
}

.modal-header{
  background: linear-gradient(60deg, #0F3557,#0F3557, #519EE1);
}

h4#feature-title.modal-title.text-primary{
  color:white;
  text-transform: uppercase;
  font-weight:medium;
  letter-spacing: 1.4;
  font-size: 25px;
  margin-left:20px;
  font-weight:600;
  text-transform: uppercase;
  letter-spacing: .06em;
}

.modal-body .modal-img{
  width: 95%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(-4px 6px 3px gray);
  margin-bottom:20px;
}

.modal-footer{
  background: linear-gradient(60deg, #0F3557,#0F3557, #519EE1);
}

/* MODAL CLOSE BUTTONS */
button.close {
  font-size: 35px;
  font-weight:300;
  color:white;
  margin-right:30px;
  opacity:1;
}

button.btn-default{
  font-family:'Barlow', sans-serif;
  font-weight: 500;
  background-color:rgba(0,0,0,0.0);

  color:white;
  border:2px solid white;
  text-transform: uppercase;
  letter-spacing: .06em;
}

button.btn-default:hover{
  background-color:#0d365a;
  color:white;
  border:2px solid white;
}

@media only screen and (max-width: 992px){
  .modal-dialog{
    width:70%;
  }
}

@media only screen and (max-width: 768px){
  .modal-dialog{
    width:80%;
  }
}


/* MISC ----------------------------- */
hr{
  height: 20px;
  background-color: #aed2f1;
  margin-bottom:30px;
  margin-top:0px;
}

hr.light{
  background-color:white;
  height:1.5px;
  padding:0px;
}





/* LEAFLET CONTROLS ----------------------------- */
.leaflet-control-layers{
  background-color:rgba(0, 0, 0, .8);
  border:2px solid white;
  filter: drop-shadow(-2px 3.5px 2px black);
  color:white;
  font-family:'Barlow', sans-serif;
  font-size:13.5px;
  font-weight:300;
  letter-spacing:.02em;
  text-transform: uppercase;
  padding:10px;
  text-align: left;
}


/* FONTS ----------------------------- */
h2.section{
  color:white;
  text-transform: uppercase;
  font-weight:medium;
  letter-spacing: 1.4;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: .06em;
}

h2.section2{
  color:white;
  text-transform: uppercase;
  font-weight:medium;
  letter-spacing: 1.4;
  text-align: left;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: .06em;
}

h3.weather-banner{
  color:#0d365a;
  text-transform: uppercase;
  letter-spacing: 1.4;
  font-size: 22px;
  font-weight:500;
  letter-spacing: .06em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h3.data{
  text-align: center;
  color:#0d365a;
  font-family:'Barlow', sans-serif;
  font-size:28px;
  font-weight: 800;
}

h3.subtitle{
  font-size:18px;
  font-weight:600;
}

h3.description{
  color:white;
  padding-bottom:12px;
  font-family:'Barlow', sans-serif;
  font-size:16px;
  padding:20px;
  font-weight: 600;
}

h4.description{
  font-size:14px;
}

p.subtitle{
  color:black;
  text-align: center;
  letter-spacing: 1.4;
  font-size: 12px;
  font-weight:600;
  text-transform: uppercase;
  letter-spacing: .06em;
}

h6.card-miles{
  color:black;
  text-transform: uppercase;
  font-style: normal;
  font-weight:200;
  letter-spacing: 1.4;
  text-align: center;
  font-size: 13px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: .06em;
}

p.overview{
  font-size:15px;
  line-height: 1.65em;
}
  
.p{
  font-size:18px;
}




/* TOP PAGE BANNER ----------------------------- */
.header{
  background: linear-gradient(60deg, #0F3557, #519EE1);
  color:white;
  text-transform: uppercase;
  font-weight:medium;
  letter-spacing: 1.4;
  font-size: 20px;
  font-weight:600;
  text-transform: uppercase;
  letter-spacing: .06em;
  width:100%;
  padding:12px 20px 12px 40px;
}

.main-icon{
  height:40px;
  margin-right:10px;
}

p.copyright{
  font-size:12px;
  float:right;
  display:inline;
  padding-top:10px;
}

.weather-button{
  margin-left:20px;
  background-color: rgba(0, 0, 0, .8);
  color: white;
  font-size:16px;
  padding:5px 8px 5px 8px;
  border-radius: 7px;
  border:2px solid white;
}

.weather-button:hover{
  background-color: rgba(0, 0, 0, 0);
}




/* SECTION DIVIDERS/BANNER ----------------------------- */
.banner {
    width: 100%;
    height: auto;
    float: none;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 12px;
    background-color: rgba(0,0,0,0.0);
    background-image: repeating-linear-gradient(-45deg,transparent,transparent 3px, #0d365aff 3px,#0d365aff 7px);
    background-size: contain;
}

h2.banner-text{
  text-align: center;
  color:#0d365a;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight:800;
  letter-spacing: .06em;
  font-size: 31px;
  background-color: #ffffff;
  margin-left: 32%;
  margin-right: 32%;
  margin-top: -12px;
  margin-bottom: -12px;
  background-clip: content-box;
}

h2.banner-text-sm{
  background: linear-gradient(150deg, #519EE1,#0F3557,#0F3557, #0F3557, #519EE1);
  text-align: center;
  color:white;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight:800;
  letter-spacing: .06em;
  font-size: 24px;
  padding:10px;
}

@media only screen and (max-width: 1100px) {
  .banner {
display:none;
  }
  
}

@media only screen and (min-width: 1100px) {
  h2.banner-text-sm {
display:none;
  }
}



/* CARDS ----------------------------- */
.card{
  width:100%;
  background: linear-gradient(#fff,#fff,#EDF6FD);
  background-color:#0d365a;
  filter: drop-shadow(-4px 6px 3px gray);
  border:1.5px solid #0d365a;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-bottom:20px;
  transition: all .6s ease;
}

.card-dark{
  width:100%;
  background-color:#0d365a;
  border: 1.5px solid #0d365a;
  filter: drop-shadow(-2px 3.5px 2px gray);
  margin-bottom:15px;
  padding:0px;
  transition: all .6s ease;
}

.card-header{
  background-color:#0d365a;
  color:white;
  text-align: center;
  font-size: 19px;
  font-weight:600;
  text-transform: uppercase;
  letter-spacing: .06em;
  width:100%;
  height:30px;
}

.card-header-dark{
  background-color:#0d365a;
  color:white;
  border-bottom: 2px solid white;
  text-align: center;
  font-size: 14px;
  font-weight:600;
  text-transform: uppercase;
  letter-spacing: .06em;
  padding:8px;
  width:100%;
}

.card-header-weather{
  color:black;
  text-align: center;
  letter-spacing: 1.4;
  font-size: 14px;
  font-weight:600;
  text-transform: uppercase;
  letter-spacing: .06em;
  padding-top:8px;
}

h5.card-title{
  color:black;
  text-align: center;
  letter-spacing: 1.4;
  font-size: 13px;
  font-weight:600;
  text-transform: uppercase;
  letter-spacing: .06em;
}

h5.card-title-weather{
  color:black;
  text-align: center;
  letter-spacing: 1.4;
  font-size: 12px;
  font-weight:600;
  text-transform: uppercase;
  letter-spacing: .06em;
}

h5.card-data{
  color:black;
  text-align: center;
  letter-spacing: 1.4;
  font-size: 25px;
  font-weight:600;
  text-transform: uppercase;
  letter-spacing: .06em;
}

h5.card-data-2{
  color:black;
  text-align: center;
  letter-spacing: 1.4;
  font-size: 25px;
  font-weight:600;
  text-transform: uppercase;
  letter-spacing: .06em;
}

h5.card-data-lift{
  color:white;
  text-align: center;
  letter-spacing: 1.4;
  font-size: 25px;
  font-weight:600;
  text-transform: uppercase;
  letter-spacing: .06em;
}

h5.card-data-weather{
  color:black;
  text-align: center;
  letter-spacing: 1.4;
  font-size: 17px;
  font-weight:600;
  text-transform: uppercase;
  letter-spacing: .06em;
}

.card-description{
  width:100%;
  background: linear-gradient(160deg, #0F3557,#0F3557, #519EE1);
  color:white;
  text-align: justify;
  filter: drop-shadow(-2px 3.5px 2px gray);
  padding:20px;
  padding-top:6px !important;
  font-size:14px;
  margin:0px;
}

.card-icon{
  margin-top:10px;
  margin-bottom:0px;
  height:32px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}







